@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;1,500;1,700&display=swap');

@layer base {
  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button,
  input[type='number'] {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield !important;
  }
}

* {
  font-family: "Nunito", sans-serif;
  font-size:  1.05rem;
  background-color: white;
}
#root {
  height: 100vh
}

.bg-img {
  background-image: url("https://images.pexels.com/photos/4794911/pexels-photo-4794911.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-color: none !important; 
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100vw;
}

.logo {
  margin: 0 !important;
  padding: 0 !important;
}


